body {
    background: linear-gradient(135deg, #FFC0CB, #FF69B4, #FFB6C1); /* تدرج بين ألوان البيبي بينك */
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
